body {
    background-color: black;
    color: red;
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
    background-image: url('https://www.semana.com/resizer/v2/RE55ORS5VRHPPLSJPA5LA3PBKY.jpg?auth=b0027f91be13abea4668c68dfd37df7655ffff98fde53839fe9daebfb44eaddd&smart=true&quality=75&width=1280&height=720'')
}

#chaosButton {
    padding: 20px;
    font-size: 20px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    animation: flicker 0.5s infinite alternate;
}

@keyframes flicker {
    0% { opacity: 1; }
    100% { opacity: 0.5; }
}
